body {
    background-color: #282C34;
}

.main {
    padding: 0px 10px;
    margin-left: 240px;
    padding: 0px 10px;
}

.main .title {
    color: white;
    font-family: Arial;
    text-align: center;
}

.main .title h1 {
    font-size: 60px;
}

.main .title h2 {
    font-size: 40px;
}

.main a {
    color: #329FFF;
}

.main a:hover {
    color: #2A84D3;
}

.main .title a {
    text-decoration: none;
}

p {
    color: white;
    font-size: 18px;
    font-family: Arial;
}

.sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #262626;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px;
}

.sidebar a, .sidebar-commands-btn {
    font-family: Arial;
    text-decoration: none;
    padding: 6px 8px 6px 16px;
    font-size: 30px;
    color: #CECECE;
    display: block;
    cursor: pointer;
    outline: none;  
    text-align: left;
}

.sidebar a:hover .sidebar-commands-btn:hover{
    color: white;
}

.sidebar ul {
    list-style-position: outside;
    color: white;
    font-size: 30px;
    margin-top: -5px;
    margin-left: 5px;
}

.sidebar img {
    margin-left: 25px;
}

.commands-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.caret-icon {
    float: right;
    padding-right: 8px;
}

.active {
    background-color: green;
    color: white;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.code {
    color: white;
    background-color: #2F3B44;
    border: 1px solid;
    border-radius: 4px;
    display: block;
}

.code p {
    text-align: left;
    white-space: pre;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: -165px;
    font-size: 16px;
    font-family: Consolas, "Courier New";
    line-height: 25px;
    overflow-x: auto;
}

code {
    color: white;
    background-color: #2F3B44;
    padding: 2px;
}